[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "quickjs-c-bridge"]
	path = quickjs-c-bridge
	url = https://github.com/abner/quickjs-c-bridge.git
