[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "quickjs-c-bridge"]
	path = quickjs-c-bridge
	url = https://github.com/abner/quickjs-c-bridge.git
[submodule "vendor/check_mk_api-flutter"]
	path = vendor/checkmk_api
	url = https://github.com/jochumdev/check_mk_api-flutter.git
